<form class="{{cssClass}} flexcol" autocomplete="off">
	<!-- Core Stats for the Actor -->
	<header class="sheet-header">
		<!-- Actor Name, Image and Details -->
		<div class="header-details">
			<input type="text" name="name" value="{{actor.name}}" placeholder="{{ localize " DND5E.Name" }}" />
			<div class="character-details">
				<img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
				<div class="character-race">
					<div>
						<h4 style="margin: 0px;">{{ localize 'DND5E.Race' }}</h4>
						<input type="text" name="actor.system.details.race" value="{{actor.system.details.race}}"
							placeholder="{{ localize 'DND5E.Race' }}" />
						{{#each actor.itemTypes.background}}
						<div style="height: 26px; display: flex; justify-content: flex-end; align-items: center;">
							{{name}}</div>
						{{/each}}
					</div>
					<div>
						<h4 style="margin: 0px;">{{ localize 'DND5E.ClassLevels' }}</h4>
						{{#each actor.itemTypes.class}}
						<div style="height: 26px; display: flex; justify-content: flex-end; align-items: center;">
							{{name}} ({{system.levels}})</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>

		<!-- Actor Buttons -->
		<div class="actor-buttons">
			<button class="actor-button" data-action="roll-initiative" data-tooltip="{{ localize " DND5E.Exhaustion"
				}}">
				<i class="fa-light fa-face-exhaling"></i>
			</button>
			<button class="actor-button" data-action="roll-initiative" data-tooltip="{{ localize " DND5E.Inspiration"
				}}">
				<i class="fa-light fa-dice-d20"></i>
			</button>
			<button class="actor-button" data-action="roll-initiative" data-tooltip="{{ localize " DND5E.Rest" }}">
				<i class="fa-light fa-snooze"></i>
			</button>
		</div>

		<!-- Actor Stats -->

		<!-- Actor Attributes -->
		{{!-- Ability Scores --}}
		<ul class="ability-scores">
			{{#each actor.system.abilities as |ability id|}}
			<li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
				<h4 class="ability-name box-title rollable">{{id}}</h4>
				<input type="text" name="system.abilities.{{id}}.value" value="{{ability.value}}" class="ability-score"
					placeholder="10" data-dtype="Number">
				<div class="ability-modifiers flexrow">
					<input type="hidden" name="system.abilities.{{id}}.proficient" value="{{ability.baseProf}}"
						data-dtype="Number" />
					<a class="proficiency-toggle ability-proficiency" data-tooltip="DND5E.Proficiency">
						{{{ability.icon}}}
					</a>
					<div class="ability-buttons">
						<button class="ability-mod" data-ability-id="{{id}}" data-tooltip="DND5E.Modifier">
							{{numberFormat ability.mod decimals=0 sign=true}}
						</button>
						<button class="ability-save" data-ability-id="{{id}}" data-tooltip="DND5E.SavingThrow">
							{{numberFormat ability.save decimals=0 sign=true}}
						</button>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>

		<!-- Actor Skills -->
		<ul class="skills-list">
            {{#each config.skills as |obj s|}}
            {{#with (lookup ../skills s) as |skill|}}
                <li class="proficiency-row skill flexrow {{#if skill.value}}proficient{{/if}}"
                    data-property="skills" data-key="{{s}}">
                    <div class="skill-name-controls">
                      <h4 class="skill-name rollable">{{skill.label}}</h4>
                    </div>
                </li>
            {{/with}}
            {{/each}}
        </ul>
	</header>
	<main>
		<nav class="sheet-navigation tabs" data-group="primary">
			<a class="item active" data-tab="actions">{{ localize "DND5E.ActionPl" }}</a>
			<a class="item" data-tab="traits">{{ localize "DND5E.Traits" }}</a>
			<a class="item" data-tab="inventory">{{ localize "DND5E.Inventory" }}</a>
			<a class="item" data-tab="features">{{ localize "DND5E.Features" }}</a>
			<a class="item" data-tab="spellbook">{{ localize "DND5E.Spellbook" }}</a>
			<a class="item" data-tab="effects">{{ localize "DND5E.Effects" }}</a>
			<a class="item" data-tab="biography">{{ localize "DND5E.Biography" }}</a>
		</nav>
		<section class="sheet-body">

			{{!-- Traits Tab --}}
			<div class="tab traits flexcol" data-group="primary" data-tab="traits">
				{{> "dnd5e.actor-traits"}}
			</div>

			{{!-- Actions Tab --}}
			<div class="tab actions flexcol" data-group="primary" data-tab="actions">
				{{> "helium-dnd5e-sheet.actor-actions" actorActions=actorActions}}
			</div>

			{{!-- Inventory Tab --}}
			<div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
				{{> "helium-dnd5e-sheet.actor-inventory" sections=inventory}}
			</div>

			{{!-- Features Tab --}}
			<div class="tab features flexcol" data-group="primary" data-tab="features">
				{{> "helium-dnd5e-sheet.actor-features" sections=features}}
			</div>

			{{!-- Spellbook Tab --}}
			<div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
				{{> "helium-dnd5e-sheet.actor-spellbook"}}
			</div>

			{{!-- Effects Tab --}}
			<div class="tab effects flexcol" data-group="primary" data-tab="effects">
				{{> "helium-dnd5e-sheet.active-effects"}}
			</div>

			{{!-- Biography Tab --}}
			<div class="tab flexrow" data-group="primary" data-tab="biography">
				<div class="characteristics flexcol">
					<label>{{ localize "DND5E.Appearance" }}</label>
					<textarea name="system.details.appearance">{{system.details.appearance}}</textarea>
					<label>{{ localize "DND5E.PersonalityTraits" }}</label>
					<textarea name="system.details.trait">{{system.details.trait}}</textarea>
					<label>{{ localize "DND5E.Ideals" }}</label>
					<textarea name="system.details.ideal">{{system.details.ideal}}</textarea>
					<label>{{ localize "DND5E.Bonds" }}</label>
					<textarea name="system.details.bond">{{system.details.bond}}</textarea>
					<label>{{ localize "DND5E.Flaws" }}</label>
					<textarea name="system.details.flaw">{{system.details.flaw}}</textarea>
				</div>
				<div class="biography">
					{{editor biographyHTML target="system.details.biography.value" button=true editable=editable
					engine="prosemirror" collaborate=false}}
				</div>
			</div>
			{{> "helium-dnd5e-sheet.actor-warnings"}}
		</section>

	</main>
</form>